body {
    font-size: 1em;
    font-weight: normal;
    font-family: Arial, Sans-serif;
    color: #000000;
    background-color: rgb(248, 227, 197);
    text-align: center;
}
h1 {
    font-size: 1.8em;
    font-weight: bold;
    text-align: center;
    }
h2 {
    border: 5px solid rgb(170, 123, 61);
    background-color: burlywood;
    }
h3 {
    border: 5px solid rgb(170, 123, 61);
    background-color: burlywood;
    }
div {
    border: 5px solid rgb(207, 164, 108);
    background-color: rgb(253, 201, 133);	
    }
p {
    border: 5px solid rgb(207, 164, 108);
    background-color: rgb(253, 201, 133);	
    }
img {
    border: 5px solid #f8d7b4;
    border-radius: 100px;
    background-color: rgb(255, 245, 227);
}

/*nav menu style*/
#navigation ul li {
    list-style-type: none;
    float: left;
    margin-right: 0.5em;
    padding: 0.25em;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    border-top: 2px solid gray;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    }
#about_me ul li {
    list-style: none;
}
table {
    background-color: rgb(221, 175, 115);
}
tbody {
    background-color: rgb(239, 200, 148);
}

/*tab and mouse hover*/
a:hover, a:focus {
    color:white;
    background-color:rgb(93, 45, 0);
    }